.box {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 11px;
  left: 40px;
  display: flex;
  justify-items: center;
  /* background-color: rgba(6, 44, 48, 0.8); */
  z-index: 10;
}

select {
  height: 25px;
  margin: 5px 0 0 5px;
  border: 1px solid var(--wtColor);
  border-radius: 2px;
  background-color: inherit;
  color: var(--wtColor);
}
